<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Paper.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Content/GLPStyle.css")" rel="stylesheet" type="text/css"/>
    <title>@ViewBag.Title</title>
</head>
<body>
    
    <div>
        <div class="ProjectTitle">
            GLP Project Create Account Page Example
        </div>
        <div class="Menubar">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Create Account</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
    </div>
    @RenderBody()
</body>
</html>
